---
  layout: default
---
<ul id="scene" class="scene unselectable" data-friction-x="0.03" data-frition-y="0.03" data-scalar-x="25" data-scalar-y="25">
  <li class="layer" data-depth="0.00"></li>
  <li class="layer" data-depth="0.10">
    <div class="background"></div>
  </li>
  <li class="layer" data-depth="0.20">
    <div class="hero">
      <img src="assets/images/{{site.logo}}" alt="Portside LTD" class="hero__logo">
      <span class="hero__line"></span>
      <h1 class="hero__tagline">{{page.tagline}}</h1>
      <p class="hero__description">{{page.description}}</p>
      <a href="mailto:{{site.email}}subject=I am ready to start my voyage" class="hero__button">{{page.button_text}}</a>
    </div>
  </li>
</ul>
